!!!
%html
  %head
    %title API Test
  %body
    %h1 Questions
    %table{:border => "1"}
      %tr
        %th Name
        %th Updated At
        %th # Votes
        %th Id
      - @questions.each do |q|
        %tr
          %td= q.attributes["name"]
          %td= q.attributes["updated_at"]
          %td= q.attributes["votes_count"]
          %td= q.attributes["id"]
          %td= link_to('results', question_choices_path(q.attributes['id']))
          %td= link_to('vote', question_prompts_path(q.attributes['id']))
          -# wow i don't understand routing
          %td= link_to('delete', "/questions/destroy/#{q.attributes['id']}")
%p= link_to('New question!', new_question_path)
