!!!
%html
  %head
    %title New Question
  %body
    %h1 Create a New Question
    %p To embed videos, copy <b>just</b> the URL in the embed code provided by youtube
    %p e.g. http://www.youtube.com/v/4T_2mUbne38&hl=en_US&fs=1&
    - form_for :question, :url => { :action => :create } do |f|
      %p
        = f.label 'name' , "Name:"
        = f.text_field 'name', :size => 40
      %p
        = "Ideas:"
        %br
        = f.text_area 'ideas', :cos => 85, :rows => 12
      %div
        = submit_tag "Press Button"