!!! 1.0
%html{:xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en"}
  %head
    %meta{:'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}
    %title= "#{controller.controller_name}: #{controller.action_name}"
    = stylesheet_link_tag 'apitest'
  %body
    = yield
    .footer
      %br
      = link_to "[Back to questions index]", questions_path